<!DOCTYPE html>
<html>
<partial name="_Header" />
<body>
    <partial name="_CookieConsentPartial" />
    <partial name="_LicenseMessage" />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <partial name="_Footer" />
    </div>

    @RenderSection("Scripts", required: false)

</body>
</html>
