@model ErrorViewModel
@{
    ViewData["Title"] = "错误信息";
}

<h1 class="text-danger">@ViewData["Title"]</h1>



@if (!string.IsNullOrEmpty(Model.Message))
{
    <p style="margin-top:50px">
        <strong>@Model.Message</strong>
    </p>
}
